
@import url("https://api.fontshare.com/v2/css?f[]=general-sans@400,500,600,700&display=swap");

@import "tailwindcss";

@theme {
--font-general: "General Sans", sans-serif;

  }
 
  body {
  font-family: var(--font-general);
}
